@page "/firefighters"

@using FirefighterStats.Shared.Firefighter
@using FirefighterStats.Client.Components
@using FirefighterStats.Client.Services
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject HttpClient Http
@inject ApiRequestService ApiRequestService

<PageTitle>Firefighters</PageTitle>

<h1>Firefighters</h1>

<div id="firefighter-cards">
    @if (_firefighters == null)
    {
        <SpinningLoading/>
    }
    else
    {
        @foreach (FirefighterDTO firefighter in _firefighters)
        {
            <FirefighterCard Firefighter="firefighter"/>
        }
    }
</div>

@code
{
    private FirefighterDTO[]? _firefighters;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        ApiRequestResponse<FirefighterDTO[]> response = await ApiRequestService.GetFromJsonAsync<FirefighterDTO[]>("api/Firefighters");

        if (response.Success)
        {
            _firefighters = response.Result ?? Array.Empty<FirefighterDTO>();
        }
    }
}
