.page-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    justify-content: center;
    padding: 10% 0;
}

.add-button {
    align-self: flex-end;
    margin-right: 15%;
}

.add-button > i { font-size: 25px; }

.indemnity-slip-list {
    align-items: center;
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: start;
    width: 70%;
}

.no-indemnity-slip {
    color: var(--light-gray);
    font-size: 50px;
}

.indemnity-slip {
    align-items: center;
    border: 3px solid var(--light-gray);
    border-bottom-width: 0;
    color: var(--light-gray);
    cursor: pointer;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 5px 20px;
    width: 100%;
}

.indemnity-slip > .arrow {
    font-size: 25px;
    visibility: hidden;
}

.indemnity-slip:hover > .arrow { visibility: visible; }

.indemnity-slip:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.indemnity-slip:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-width: 3px;
}