.page-content {
    align-items: center;
    display: flex;
    flex: 1;
    flex-flow: column;
    gap: 30px;
    padding: 30px;
}

.identity {
    align-items: center;
    color: var(--gray);
    display: flex;
    flex: auto;
    flex-flow: column;
    font-size: 25px;
    gap: 40px;
    justify-content: center;
}

.identity > i {
    border: 5px solid var(--red);
    border-radius: 20px;
    color: var(--gray);
    font-size: 60px;
    padding: 2px;
}

.horizontal-divider {
    border-radius: 5px;
    border-width: 2px;
    color: var(--light-gray);
    width: 50%;
}

::deep .firefighter-props {
    align-items: center;
    display: flex;
    flex: 5;
    flex-flow: column;
    gap: 50px;
    padding: 20px;
    width: 50%;
}