.interventions-view {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__grid {
        display: grid;
        grid-template-columns: 0.5fr 45% 0.5fr repeat(5, 1fr);

        > * {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 5px;
        }

        &__header {
            font-weight: bold;
            border: 1px solid black;
            border-right: none;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5) {
                border: none;
            }

            &.duration-header {
                border-bottom: none;
                border-right: 1px solid black;
                border-radius: 5px 5px 0 0;
                grid-column: 4 / 8;
            }

            &.number-header {
                border-radius: 5px 0 0 0;
            }

            &.amount-header {
                border-right: 1px solid black;
                border-radius: 0 5px 0 0;
            }

            &.total-duration-header {
                border-right: 1px solid black;

                + * {
                    border-left: none;
                }
            }
        }

        &__item {
            &--title {
                justify-content: left;
                text-align: left;
            }

            &--type {
                color: var(--white);

                &--OtherOperation {
                    background-color: var(--yellow);
                }

                &--PersonalAssistance {
                    background-color: var(--blue);
                }

                &--Fire {
                    background-color: var(--orange);
                }

                &--Apr {
                    background-color: var(--gray);
                }

                &--FireAndApr {
                    background-color: var(--blue-gray);
                }
            }
        }
    }

    &__total-amount {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        padding: 5px;
        font-size: 15px;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 5px;
    }
}
