.input-group {
    background: transparent;
    position: relative;
    width: 100%;
}

.input {
    background: transparent;
    border: 1px solid var(--gray);
    border-radius: 5px;
    color: var(--gray);
    outline: none;
    padding: 10px;
    width: 100%;
}

.placeholder {
    background: none;
    color: var(--gray);
    cursor: default;
    font-size: 14px;
    left: 8px;
    padding: 0 5px;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: 0.3s;
}

.input:focus + .placeholder, .input.modified + .placeholder {
    background-color: var(--white);
    top: -10px;
}

.input.invalid {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: var(--red);
}

.input.invalid + .placeholder { color: var(--red); }

::deep .validation-message {
    background: var(--red);
    border-color: var(--red);
    border-radius: 0;
    color: var(--white);
    font-size: 12px;
    padding: 2px 2px 2px 5px;
}

::deep .validation-message:nth-last-child(1) { border-radius: 0 0 5px 5px; }