@using FirefighterStats.Client.Components.Inputs
@using FirefighterStats.Client.Extensions
@using FirefighterStats.Shared.IndemnitySlip
@using FirefighterStats.Shared.Utils
@using Microsoft.AspNetCore.Components

<div class="content">
    <h2>Create new indemnity slip</h2>
    <EditForm Model="_indemnitySlip">
        <DataAnnotationsValidator/>
        
        <CustomInputSelect @bind-Value="_indemnitySlip.Month"
                           id="indemnity-slip-month"
                           Label="Month"
                           TValue="EMonth"
                           ValidationFor="() => _indemnitySlip.Month">
            @foreach (EMonth month in Enum.GetValues(typeof(EMonth)))
            {
                <option value="@month">@month.GetDisplayName()</option>
            }
        </CustomInputSelect>
    </EditForm>
</div>

@code {

    private CreateIndemnitySlipDTO _indemnitySlip = new();

}