.user-icon {
    border: 1px solid var(--white);
    border-radius: 50%;
    color: var(--white);
    font-size: 24px;
    padding: 3px;
}

.menu {
    background-color: var(--white);
    border: 2px solid var(--red);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 var(--light-gray);
    display: none;
    flex-direction: column;
    gap: 5px;
    left: auto;
    padding: 10px 0;
    position: absolute;
    right: 7px;
    z-index: 1;
}

.menu > *:not(.horizontal-divider) {
    color: var(--gray);
    margin: 0 10px;
}

.menu > a { text-decoration: underline; }

.authentication-state { font-weight: bold; }

.horizontal-divider { border-color: var(--light-gray); }

.user-info:hover .menu { display: flex; }

.menu::before, .menu::after {
    content: "";
    display: inline-block;
    position: absolute;
}

.menu::before {
    border: 9px solid transparent;
    border-bottom: 9px solid var(--red);
    left: auto;
    right: 8px;
    top: -18px;
}

.menu::after {
    border: 7px solid transparent;
    border-bottom: 7px solid var(--white);
    left: auto;
    right: 10px;
    top: -14px;
}