.modal {
    align-items: center;
    background-color: var(--transparent-50);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal.enabled { display: flex; }

.modal-content {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 50px 4px var(--gray);
    padding: 20px;
    width: fit-content;
}

.close {
    color: var(--light-gray);
    cursor: pointer;
    float: right;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    right: -15px;
    top: -15px;
}