<div class="modal @Enabled">
    <div class="modal-content">
        <i class="bi bi-x close"
           onclick="@Close"></i>
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    private string Enabled => Visible
                                  ? "enabled"
                                  : string.Empty;


    private void Close()
    {
        Visible = false;
    }
}
