.loader-wrapper {
    height: 60px;
    width: 60px;
}

.loader {
    animation: rotate 1s linear infinite;
    border: 10px solid #ffffff;
    border-radius: 50%;
    border-top-color: #ff0000;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

@keyframes rotate {
    0% { transform: scale(1) rotate(0); }

    50% { transform: scale(.8) rotate(90deg); }

    100% { transform: scale(1) rotate(360deg); }
}