@using FirefighterStats.Client.Components

@inherits LayoutComponentBase

<div class="page">
    <header class="header">
        <div>
            <img src="icon-192.png"
                 alt="FirefighterStats logo" />
            <p>FirefighterStats</p>
        </div>
        <div>
            <LoginDisplay/>
        </div>
    </header>
    
    <div class="application-main">
        <div class="sidebar">
            <NavMenu/>
        </div>

        <main class="application-content">
            @Body
        </main>
    </div>
</div>