.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.header {
    background: var(--dark-red);
    color: var(--white);
    display: flex;
    flex: initial;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.header div {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header img {
    border-radius: 10px;
    height: 30px;
    width: 30px;
}

.application-main {
    display: flex;
    flex: auto;
    position: relative;
}

.application-content { flex: auto; }

.sidebar {
    flex: initial;
    width: min-content;
}

@media (max-width: 640.98px) {
    .sidebar {
        background-color: rgb(139, 8, 8);
        background-image: none;
    }
}

@media (min-width: 641px) {
    .sidebar { height: auto; }
}