<div class="navbar">
    <a class="navbar-brand" href=""> FirefighterStats
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu" title="Navigation menu">
        <i class="bi bi-list nav-icon"></i>
    </button>
</div>

<div class="@NavMenuCssClass">
    <nav>
        <div class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All">
                <i class="bi bi-house nav-icon"></i><text hidden ="@IsCollapsed"> Home</text>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="firefighters">
                <i class="bi bi-person-lines-fill nav-icon"></i><text hidden="@IsCollapsed"> Firefighters</text>
            </NavLink>
        </div>
    </nav>
</div>

@code {

    private bool IsCollapsed { get; set; } = true;

    private string? NavMenuCssClass => IsCollapsed ? "collapse" : null;

    private void ToggleNavMenu()
    {
        IsCollapsed = !IsCollapsed;
    }
}
