<div class="nav-menu @NavMenuCssClass">
    <nav>
        <div class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All">
                <i class="bi bi-house"></i><text>Home</text>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="firefighters">
                <i class="bi bi-person-lines-fill"></i><text>Firefighters</text>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="indemnity-slips">
                <i class="bi bi-newspaper"></i><text>Indemnity Slips</text>
            </NavLink>
        </div>
    </nav>
    
    <button class="nav-button"
            onclick="@ToggleNavMenu"
            role="presentation">
        <i class="bi @NavMenuIconClass"></i>
    </button>
</div>

@code {

    private bool IsCollapsed { get; set; } = true;

    private string? NavMenuCssClass => IsCollapsed ? "collapsed" : null;

    private string NavMenuIconClass => IsCollapsed ? "bi-arrow-bar-right" : "bi-arrow-bar-left";

    private void ToggleNavMenu()
    {
        IsCollapsed = !IsCollapsed;
    }
}
