.nav-menu {
    background-color: var(--dark-red);
    display: grid;
    flex-direction: column;
    height: 100%;
    padding: 5px 0;
}

.nav-menu * { color: var(--white); }

.nav-item {
    font-size: 0.9rem;
    margin: 0 5px;
    padding-bottom: 0.5rem;
    text-decoration: none;
    width: auto;
}

.nav-item ::deep a {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 3rem;
    padding: 0 15px;
    text-decoration: none;
}

.nav-item ::deep a.active, .nav-item ::deep a:hover { background-color: var(--transparent-25); }

.nav-item i {
    font-size: 24px;
    vertical-align: text-top;
}

.nav-button {
    align-self: flex-end;
    background: transparent;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    justify-self: center;
    padding: 5px;
}

.nav-button:hover { background: var(--transparent-25); }

.nav-menu.collapsed .nav-item text { display: none; }