.indemnity-slip-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    min-width: 100%;
    min-height: 100%;

    &__error {
        color: var(--red);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    &__title {
        color: var(--dark-gray);
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;

        &__interventions,
        &__activities {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            min-width: 580px;

            &__title {
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }

    &__total-amount {
        margin-top: 30px;
        font-size: 30px;
        font-weight: bold;
    }

    &__button-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        margin-top: 40px;
        padding: 20px;
        width: 100%;

        &__delete {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }
    }
}
