.loader {
    height: 50px;
    width: 50px;
    border: 10px solid var(--white);
    border-top-color: var(--red);
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotate 1s linear infinite;

    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }
}
