.select-field {
    background: transparent;
    position: relative;
    width: 100%;

    &__select {
        background: transparent;
        border: 1px solid var(--gray);
        border-radius: 5px;
        color: var(--gray);
        outline: none;
        padding: 10px;
        width: 100%;

        &--required + label::after {
            content: '*';
            color: var(--red);
        }

        &--invalid {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-color: var(--red);

            + label {
                color: var(--red);
            }
        }
    }

    &__label {
        background-color: var(--white);
        color: var(--gray);
        cursor: default;
        font-size: 14px;
        left: 8px;
        padding: 0 5px;
        pointer-events: none;
        position: absolute;
        top: -10px;
    }

    &__errors {
        background: var(--red);
        border-color: var(--red);
        border-radius: 0 0 5px 5px;
        color: var(--white);
        font-size: 12px;
        padding: 2px 2px 2px 5px;

        &:nth-last-child(1) {
            border-radius: 0 0 5px 5px;
        }
    }
}
