.nav-menu {
    background-color: var(--dark-red);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 0;
    width: auto;

    * {
        color: var(--white);
    }

    nav {
        display: flex;
        flex: auto;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__item {
        align-items: center;
        border-radius: 5px;
        display: flex;
        font-size: 0.9rem;
        gap: 10px;
        height: 3rem;
        margin: 0 5px;
        padding: 0 15px;
        text-decoration: none;
        width: auto;

        &.active,
        &:hover {
            background-color: var(--transparent-25);
        }

        svg {
            font-size: 24px;
            vertical-align: text-top;
        }

        p {
            white-space: nowrap;
        }
    }

    &__button {
        flex: initial;
        align-self: center;
        background: transparent;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 24px;
        padding: 5px;

        &:hover {
            background-color: var(--transparent-25);
        }
    }

    &--collapsed {
        .nav-menu__item {
            p {
                display: none;
            }
        }
    }
}
