button.default-button {
    background: var(--red);
    border: none;
    border-radius: 5px;
    color: var(--white);
    height: 50px;
    width: 70px;
    cursor: pointer;

    &:hover {
        background: var(--dark-red);
    }

    &--disabled {
        background: var(--light-red);
        pointer-events: none;

        &:hover {
            background: var(--light-red);
        }
    }
}
